<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Teacher Mark English Classes</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="English classes in Taiwan with Teacher Mark.">
    <meta name="keywords" content="teaching, lessons, English, tutor, private, online, classes">
    <meta name="author" content="Mark O'Connor">
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
    <style rel="stylesheet">
        :root {
            @media (prefers-reduced-motion: no-preference) {
                    @view-transition {
                            navigation: auto;
                    }
            }
        }
    </style>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        deep: '#020517',
                        deephover: '#0a1971'
                    },
                },
            },
        }
    </script>
    <style>

        .stacked {
            display: grid;
        }

        .stacked > * {
            grid-column: 1 / -1;
            grid-row: 1 / -1;
        }

        .hide {
            opacity: 0;
            filter: blur(2);
            transform: translateY(10%);
            transition: all 1s;
        }

        .show {
            opacity: 1;
            filter: blur(0);
            transform: translateY(0);
        }

        .htmx-indicator {
            display: none;
        }

        .htmx-request .htmx-indicator{
            display:inline;
        }

        .htmx-request.htmx-indicator{
            display:inline;
        }

        .htmx-request .htmx-indicator-hide {
            display: none;
        }

        .htmx-request.htmx-indicator-hide {
            display: none;
        }

        dialog {
            box-shadow: 0 0 1em rgb(0 0 0 / .4);
        }

        dialog::backdrop {
            background-color: rgba(72, 0, 96, 0.4);
        }

        @media(pefers-reduced-motion) {
            .hide {
                transition: none;
            }
        }
    </style>
  </head>
  <body>
    <header class="w-full h-[48px] bg-deep text-white flex items-center z-10">
        <div class="w-full max-w-[1000px] mx-auto px-4 xl:px-0">
            <span>
                Teacher Mark
            </span>
        </div>
    </header>
    <main>
        <section>
            <div class="max-w-[500px] md:max-w-[800px] mx-auto py-32 px-4">
                <h1 class="text-5xl text-balance md:text-center font-semibold mb-4">English classes for every age and every level.</h1>
                <p class="text-lg md:text-center mb-8">Choose the classes designed for your age, ability, and learning goals.</p>
                <ul class="grid md:grid-cols-2 gap-4 text-xl">
                    <li class="border rounded-md text-center">
                        <a href="#kids" class="py-2 rounded-md flex justify-center hover:bg-purple-950/80 active:bg-purple-800/80 hover:text-white duration-100 ease-in">Kids</a>
                    </li>
                    <li class="border rounded-md text-center">
                        <a href="#adults" class="py-2 rounded-md flex justify-center hover:bg-purple-950/80 active:bg-purple-800/80 hover:text-white duration-100 ease-in">Adult Conversation</a>
                    </li>
                    <li class="border rounded-md text-center">
                        <a href="#business-english" class="py-2 rounded-md flex justify-center hover:bg-purple-950/80 active:bg-purple-800/80 hover:text-white duration-100 ease-in">Business English</a>
                    </li>
                    <li class="border rounded-md text-center">
                        <a href="#test-prep" class="py-2 rounded-md flex justify-center hover:bg-purple-950/80 active:bg-purple-800/80 hover:text-white duration-100 ease-in">Test Preparation</a>
                    </li>
                </ul>
            </div>
        </section>
        
        {{/* KID CLASSES SECTION */}}
        <section id="kids" class="min-h-[50vh] py-32 bg-gray-50">
            <div class="hide max-w-[800px] mx-auto px-4 sm:px-0">
                <h2 class="font-bold text-deep text-5xl text-balance md:text-center mb-8">Kids English Classes</h2>
                <p class="text-lg max-w-[65ch] mx-auto mb-4">Classes for Elementary and High School students. Book private and semi-private classes custom designed for your needs and ability level.</p>
                <p class="text-lg max-w-[65ch] mx-auto mb-4">Improve all 4 fundamental language skills using a natural learning approach. Students develop the ability to think in English first without the need to translate from Chinese.</p>
                <p class="text-lg max-w-[65ch] mx-auto mb-4">Through a variety of written and verbal activities, students develop North Amerian pronunciation and natural English grammar.</p>
                <ul class="grid sm:grid-cols-2 grid-rows-2 gap-4 mb-16">
                    <li class="stacked text-white">
                        <img src="./static/images/kids-speaking-skills.jpg" class="aspect-video object-cover rounded-md"/>
                        <div class="p-2 text-balanced  w-full h-full flex flex-col justify-end bg-purple-900/60 text-2xl rounded-md">
                            <h3 class="">Be heard. <strong>Speak</strong></h3>
                        </div>
                    </li>
                    <li class="stacked text-white">
                        <img src="./static/images/kids-reading-skills.jpg" class="aspect-video object-cover rounded-md"/>
                        <div class="p-2 text-balanced  w-full h-full flex flex-col justify-end bg-purple-900/60 text-2xl rounded-md">
                            <h3 class="">Explore the world. <strong>Read</strong></h3>
                        </div>
                    </li>
                    <li class="stacked text-white">
                        <img src="./static/images/kids-writing-skills-2.jpg" class="aspect-video object-cover rounded-md"/>
                        <div class="p-2 text-balanced  w-full h-full flex flex-col justify-end bg-purple-900/60 text-2xl rounded-md">
                            <h3 class="">Share your ideas. <strong>Write</strong></h3>
                        </div>
                    </li>
                    <li class="stacked text-white">
                        <img src="./static/images/kids-listening-skills.jpg" class="aspect-video object-cover rounded-md"/>
                        <div class="p-2 text-balanced w-full h-full flex flex-col justify-end bg-purple-900/60 text-2xl rounded-md">
                            <h3 class="">Seek to understand. <strong>Listen</strong></h3>
                        </div>
                    </li>
                </ul>
                <div class="flex justify-center gap-4">
                    {{ template "open-modal" . }}
                </div>
            </div>
        </section>

        {{/* ADULT CLASSES SECTION */}}
        <section id="adults" class="min-h-[50vh] py-32 bg-gray-50 text-lg">
            <div class="hide max-w-[500px] md:max-w-[800px] mx-auto px-4 sm:px-0">
                <h2 class="font-bold text-deep text-5xl text-balance md:text-center mb-8">Adult Conversation Classes</h2>
                <p class="text-lg max-w-[65ch] mx-auto mb-4">Improve your English with topic-based conversation classes. Learn new vocabulary, proper pronunciation, and perfect your grammar while exploring real-world topics selected for your interests.</p>
                <div class="grid md:grid-cols-2 md:gap-4 mb-4 md:mb-8">
                    <div class="stacked text-white mb-4 md:mb-0">
                        <img src="./static/images/adults-coffee-min.jpg" class="aspect-video object-cover rounded-md"/>
                        <div class="p-2 text-balanced w-full h-full flex flex-col justify-end bg-purple-800/40 text-2xl rounded-md">
                            <h3 class="text-2xl text-pretty">Tired of searching for the right words?</h3>
                        </div>
                    </div>
                    <div class="flex items-center">
                        <p>Join classes that give you confidence speaking English in the real world. Move beyond textbooks; master new vocabulary and proper grammar in a relaxed, friendly environment. You'll discuss real-world topics and gain the fluency you need to succeed in your career, social life, and everyday conversations.</p>
                    </div>
                </div>
                <div class="grid md:grid-cols-2 md:gap-4 mb-16">
                    <div class="stacked md:col-start-2 text-white mb-4 md:mb-0">
                        <img src="./static/images/adults-laughing-min.jpg" class="aspect-video object-cover rounded-md"/>
                        <div class="p-2 text-balanced w-full h-full flex flex-col justify-end bg-purple-800/40 text-2xl rounded-md">
                            <h3 class="text-2xl text-pretty">Feel confident connecting with others.</h3>
                        </div>
                    </div>
                    <div class="md:row-start-1 md:col-start-1 flex items-center">
                        <p>Go from feeling hesitant to feeling heard. Our topic-based conversation classes give you space to practice and perfect your English. You’ll engage in dynamic discussions, get real-time corrections, and learn to speak more naturally—you’ll build the confidence to express yourself clearly and connect with others in your daily life.</p>
                    </div>
                </div>
                <div class="flex justify-center gap-4">
                    {{ template "open-modal" . }}
                </div>
            </div>
        </section>

        {{/* BUSINESS ENGLISH SECTION */}}
        <section id="business-english" class="min-h-[50vh] bg-purple-200 py-32">
            <div class="hide">
                <div class="px-4 max-w-[600px] mx-auto">
                    <h2 class="font-bold text-deep text-5xl text-balance md:text-center mb-8">
                        {{.Content.bus_eng_heading}}
                    </h2>
                    <p class="text-lg text-gray-800 mb-4">
                        {{.Content.bus_eng_description}}
                    </p>
                </div>

                <ul class="px-2 max-w-[800px] mx-auto grid grid-rows-4 sm:grid-rows-3 md:grid-rows-2 sm:grid-cols-6 md:grid-cols-8 gap-4 mb-16">
                    <li class="row-span-1 md:row-span-2 stacked rounded-xl sm:col-span-6 md:col-span-8 h-[200px]">
                        <div class="w-full h-full grid sm:grid-cols-2 md:grid-cols-3 sm:bg-purple-950 rounded-xl">
                            <div class="stacked sm:col-start-2 sm:col-span-2">
                                <img
                                    height="200"
                                    widht="200"
                                    loading="lazy"
                                    fetchpriority="low"
                                    src="https://teacher-mark.s3.ap-southeast-1.amazonaws.com/small-bus-eng-presentation.jpg" 
                                    class="w-full object-cover h-[200px] rounded-xl sm:rounded-tr-xl sm:rounded-br-xl"/>
                                <div class="bg-purple-950/50 sm:bg-gradient-to-r sm:from-purple-950 sm:to-transparent rounded-xl sm:rounded-tr-xl sm:rounded-br-xl"></div>
                            </div>
                        </div>
                        <div class="flex flex-col justify-end p-4">
                            <h3 class="max-w-[250px] text-2xl font-semibold text-white">
                                {{.Content.bus_eng_case_one}}
                            </h3>
                        </div>
                    </li>
                    <li class="row-span-1 md:row-span-2 stacked bg-white rounded-xl sm:col-span-3 md:col-span-2 h-[200px]">
                        <div class="w-full h-full">
                            <img
                                height="200"
                                wids="200"
                                loading="lazy"
                                fetchpriority="low" 
                                src="https://teacher-mark.s3.ap-southeast-1.amazonaws.com/small-bus-eng-write-effectively.jpg" 
                                class="w-full object-cover h-[200px] rounded-xl"/>
                        </div>
                        <div class="w-full h-full bg-purple-900/50 rounded-xl"></div>
                        <div class="flex flex-col justify-end p-4">
                            <h3 class="max-w-[125px] text-xl text-white font-semibold">
                                {{.Content.bus_eng_case_two}}
                            </h3>
                        </div>
                    </li>
                    <li class="row-span-1 md:row-span-2 stacked bg-white rounded-xl sm:col-span-3 md:col-span-2 h-[200px]">
                        <div class="w-full h-full">
                            <img
                                height="200"
                                width="200"
                                loading="lazy"
                                fetchpriority="low"
                                src="https://teacher-mark.s3.ap-southeast-1.amazonaws.com/small-bus-eng-understand.jpg"
                                class="w-full object-cover h-[200px] rounded-xl"/>
                        </div>
                        <div class="w-full h-full bg-purple-900/50 rounded-xl"></div>
                        <div class="flex flex-col justify-end p-4">
                            <h3 class="max-w-[200px] text-xl text-white font-semibold">
                                {{.Content.bus_eng_case_three}}
                            </h3>
                        </div>
                    </li>
                    <li class="row-span-1 md:row-span-2 stacked bg-white rounded-xl sm:col-span-6 md:col-span-4 h-[200px]">
                        <div class="w-full h-full">
                            <img
                                height="200"
                                width="200"
                                loading="lazy" 
                                fetchpriority="low"
                                src="https://teacher-mark.s3.ap-southeast-1.amazonaws.com/small-bus-eng-master-industry.jpg"
                                class="w-full object-cover h-[200px] rounded-xl"/>
                        </div>
                        <div class="w-full h-full bg-purple-900/50 rounded-xl"></div>
                        <div class="flex flex-col justify-end p-4">
                            <h3 class="max-w-[200px] text-xl font-semibold text-white">
                                {{.Content.bus_eng_case_four}}
                            </h3>
                        </div>
                    </li>
                </ul>

                <div class="flex justify-center gap-4">
                    {{ template "open-modal" . }}
                </div>
            </div>
        </section>

        {{/* TEST PREPARATION SECTION */}}
        <section id="test-prep" class="min-h-[50vh] py-32 bg-gray-50">
            <div class="hide max-w-[500px] md:max-w-[800px] mx-auto px-4 sm:px-0">
                <h2 class="font-bold text-deep text-5xl text-balance md:text-center mb-8">{{.Content.test_prep_heading}}</h2>
                <div class="mx-auto grid grid-cols-1 md:grid-cols-3 gap-4 mb-16">
                    <div class="md:shadow-xl rounded-xl md:text-center bg-white">
                        <h3 class="py-2 px-4 md:text-center text-xl text-deep font-semibold">{{.Content.test_prep_ielts}}</h3>
                        <div class="stacked overflow-y-hidden w-full h-[250px] md:h-[150px] bg-purple-500">
                            <img 
                                height="200"
                                width="200"
                                loading="lazy" 
                                src="https://teacher-mark.s3.ap-southeast-1.amazonaws.com/small-prep-student-with-book.jpg" 
                                alt="A girl looking up from a book."
                                class="w-full h-full object-cover"/>
                            <div class="w-full h-[250px] md:h-[150px] bg-purple-300/30"></div>
                        </div>
                        <p class="py-2 px-4">{{.Content.test_prep_ielts_description}}</p>
                    </div>
                    <div class="md:shadow-xl rounded-xl md:text-center bg-white">
                        <h3 class="py-2 px-4 md:text-center text-xl text-deep font-semibold">{{.Content.test_prep_gept}}</h3>
                        <div class="stacked overflow-y-hidden w-full h-[250px] md:h-[150px] bg-purple-500">
                            <img 
                                height="200"
                                width="200"
                                loading="lazy" 
                                src="https://teacher-mark.s3.ap-southeast-1.amazonaws.com/small-prep-students-classroom.jpg" 
                                alt="A girl looking up from a book."
                                class="w-full h-full object-cover"/>
                            <div class="w-full h-[250px] md:h-[150px] bg-purple-300/30"></div>
                        </div>
                        <p class="py-2 px-4">{{.Content.test_prep_gept_description}}</p>
                    </div>
                    <div class="md:shadow-xl rounded-xl md:text-center bg-white">
                        <h3 class="py-2 px-4 md:text-center text-xl text-deep font-semibold">{{.Content.test_prep_other}}</h3>
                        <div class="stacked overflow-y-hidden w-full h-[250px] md:h-[150px] bg-purple-500">
                            <img 
                                height="200"
                                width="200"
                                loading="lazy" 
                                src="https://teacher-mark.s3.ap-southeast-1.amazonaws.com/small-prep-write-test.jpg" 
                                alt="A girl looking up from a book."
                                class="w-full h-full object-cover"/>
                            <div class="w-full h-[250px] md:h-[150px] bg-purple-300/30"></div>
                        </div>
                        <p class="py-2 px-4">{{.Content.test_prep_other_description}}</p>
                    </div>
                </div>
                <div class="flex justify-center gap-4">
                    {{ template "open-modal" . }}
                </div>
            </div>
        </section>
        <dialog class="p-2 md:p-4 rounded-md">
            {{ template "form" . }}
            <div class="mt-4 flex justify-center">
                <button 
                    onclick="
                        document.querySelector('dialog').close();
                        document.querySelector('body').classList.toggle('overflow-y-hidden');" 
                    class="rounded-full border p-1 stroke-red-500 border-red-500">

                    <svg width="18px" height="18px" viewBox="-0.5 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3 21.32L21 3.32001"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M3 3.32001L21 21.32"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
            </div>
        </dialog>
    </main>
    <footer class="bg-deep text-purple-50/90 h-[48px] flex items-center justify-center">
        <p>&copy; {{.NewContent.Base.Rights}}</p>
    </footer>

    <div id="alert" class="w-[300px] min-h-6 fixed top-2 left-2 bg-green-300 shadow-lg rounded-md px-4 py-2 duration-200 -translate-y-8 opacity-0"></div>
    <script src="static/js/behaviors/observer.js"></script>
    <script src="static/js/behaviors/toast.js"></script>
  </body>
</html>   

