<html>
<head>
    <title>Server Error</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="English classes in Taiwan with Teacher Mark.">
    <meta name="keywords" content="teaching, lessons, English, tutor, private, online, classes">
    <meta name="author" content="Mark O'Connor">
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        deep: '#020517',
                        deephover: '#0a1971'
                    },
                },
            },
        }
    </script>
    <style>

        .stacked {
            display: grid;
        }

        .stacked > * {
            grid-column: 1 / -1;
            grid-row: 1 / -1;
        }

        .hide {
            opacity: 0;
            filter: blur(2);
            transform: translateY(10%);
            transition: all 1s;
        }

        .show {
            opacity: 1;
            filter: blur(0);
            transform: translateY(0);
        }

        .htmx-indicator {
            display: none;
        }

        .htmx-request .htmx-indicator{
            display:inline;
        }

        .htmx-request.htmx-indicator{
            display:inline;
        }

        .htmx-request .htmx-indicator-hide {
            display: none;
        }

        .htmx-request.htmx-indicator-hide {
            display: none;
        }

        @media(pefers-reduced-motion) {
            .hide {
                transition: none;
            }
        }
    </style>
    </head>
    <body>
        <section class="min-h-screen bg-deep grid place-content-center">
            <div class="max-w-[600px] mx-auto px-4 py-4 md:px-0">
                <p class="text-white">We're sorry, something went wrong on our end. We're working on a solution.</p>
            </div>
        </section>
    </body>
</html>
