{{template "base" .}}
{{ define "content" }}
    <section class="min-h-screen bg-deep grid place-content-center">
        <div class="max-w-[600px] mx-auto px-4 py-4 md:px-0">
            <p class="text-white">We're sorry, something went wrong on our end. We're working on a solution.</p>
        </div>
    </section>
{{ end }}