<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A brief description of your site.">
    <meta name="keywords" content="teaching, lessons, English, tutor, private, online, classes">
    <meta name="author" content="Mark O'Connor">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        deep: '#020517',
                        deephover: '#0a1971'
                    },
                },
            },
        }
    </script>
  </head>
  <body>
    <header class="bg-deep text-white h-[48px] flex items-center">
        <div class="w-full max-w-[1000px] mx-auto px-4 sm:px-0">
            <span>Teacher Mark</span>
        </div>
    </header>
    <main>
        <section class="min-h-[50vh] bg-deep grid place-content-center">
            <div class="max-w-[500px] mx-auto px-4 sm:px-0">
                <h1 class="text-5xl text-gray-100 mb-2 font-bold">Achieve confidence, comfort, and clarity in English.</h1>
                <p class="text-lg text-balance text-purple-100 mb-4">From cafe to boardroom, beginner to advanced, we have classes for your level and learning style.</p>
                <a href="#" class="inline-block text-lg bg-purple-800 text-white rounded-md px-4 py-1 hover:bg-purple-700 active:bg-purple-900 active:scale-95 duration-200 ease-in-out">Start your journey today</a>
            </div>
        </section>
        <section class="min-h-[50vh] grid place-content-center">
            <div class="max-w-[500px] md:max-w-[800px] mx-auto px-4 sm:px-0">
                <h2 class="font-bold text-deep text-4xl text-balance md:text-center mb-8">See our classes to boost your career and open the doors to new opportunities</h2>
                <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-16">
                    <div class="md:shadow py-4 md:px-2 rounded-xl">
                        <h3 class="md:text-center text-xl text-deep font-semibold">IELTS</h3>
                        <p>Study and work in English speaking countries. Surpass your target score with personalized lessons on speaking, writing, and test strategies.</p>
                    </div>
                    <div class="md:shadow py-4 md:px-2 rounded-xl">
                        <h3 class="md:text-center text-xl text-deep font-semibold">GEPT</h3>
                        <p>Elevate your education and career possibilities. Build confidence in your English and master practical communication to excel in the GEPT with ease.</p>
                    </div>
                    <div class="md:shadow py-4 md:px-2 rounded-xl">
                        <h3 class="md:text-center text-xl text-deep font-semibold">Business English</h3>
                        <p>Enhance your career by mastering professional communication. Connect fluently with clients and partners worldwide through lessons tailored for workplace success.</p>
                    </div>
                </div>
                <div class="flex justify-center">
                    <a href="#" class="inline-block bg-purple-800 px-8 py-2 text-white rounded-md hover:bg-purple-700 active:bg-purple-900 active:scale-95 duration-200 ease-in-out">
                        Start Your Career Journey Today
                    </a>
                </div>
            </div>
        </section>
        <section class="min-h-[50vh] bg-purple-200 grid place-content-center">
            <div class="max-w-[500px] md:max-w-[800px] mx-auto px-4 sm:px-0">
                <h2 class="font-bold text-deep text-4xl text-balance md:text-center mb-8">Build your English skills and start having fun, fluent conversations in today.</h2>
                <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-16">
                    <div class="md:shadow py-4 md:px-2 md:rounded-xl md:bg-white">
                        <h3 class="md:text-center text-xl font-semibold">Conversation</h3>
                        <p>Enrich your life and grow your confidence in English. Learn the skills to have fast, natural conversations with English speakers.</p>
                    </div>
                    <div class="md:shadow py-4 md:px-2 md:rounded-xl md:bg-white">
                        <h3 class="md:text-center text-xl font-semibold">Intermediate</h3>
                        <p>Already know some English? Refine your grammar, expand your vocabulary, and take your speaking skills to the next level.</p>
                    </div>
                    <div class="md:shadow py-4 md:px-2 md:rounded-xl md:bg-white">
                        <h3 class="md:text-center text-xl font-semibold">Beginner</h3>
                        <p>New to English? Develop a strong foundation with fun, practical lessons to make school easier and talking to friends more enjoyable.</p>
                    </div>
                </div>
                <div class="flex justify-center">
                    <a href="#" class="inline-block bg-purple-800 px-8 py-2 text-white rounded-md hover:bg-purple-700 active:bg-purple-900 active:scale-95 duration-200 ease-in-out">
                        Explore Conversation Classes Now
                    </a>
                </div>
            </div>
        </section>
        <section class="min-h-[50vh] grid place-content-center">
            <div class="max-w-[500px] md:max-w-[800px] mx-auto px-4 sm:px-0">
                <h2 class="font-bold text-deep text-4xl text-balance md:text-center mb-8">Learn coding skills in English and open the doors to exciting opportunities in tech.</h2>
                <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-16">
                    <div class="md:shadow py-4 md:px-2 rounded-xl">
                        <h3 class="md:text-center text-xl font-semibold">Fundamentals</h3>
                        <p>Lay the groundwork for your coding journey. Learn essential programming concepts, logic, and problem-solving with languages like Python, JavaScript, and Go.</p>
                    </div>
                    <div class="md:shadow py-4 md:px-2 rounded-xl">
                        <h3 class="md:text-center text-xl font-semibold">Web and App</h3>
                        <p>Design and build modern, responsive websites and apps. This class combines front-end and back-end development, equipping you to create dynamic, user-friendly digital experiences.</p>
                    </div>
                    <div class="md:shadow py-4 md:px-2 rounded-xl">
                        <h3 class="md:text-center text-xl font-semibold">AI and Automations</h3>
                        <p>Explore the cutting-edge world of artificial intelligence and process automation. Learn how to harness AI tools and create scripts to save time and solve real-world problems.</p>
                    </div>
                </div>
                <div class="flex justify-center">
                    <a href="#" class="inline-block bg-purple-800 px-8 py-2 text-white rounded-md hover:bg-purple-700 active:bg-purple-900 active:scale-95 duration-200 ease-in-out">
                        Kickstart Your Coding Journey Today
                    </a>
                </div>
            </div>
        </section>
        <section class="min-h-[50vh] grid place-content-center">
            <div class="max-w-[500px] mx-auto px-4 sm:px-0">
                <h2 class="font-bold text-deep text-4xl text-balance md:text-center mb-8">About me</h2>
                <p class="mb-4">With over 6 years of teaching experience, I’ve had the privilege of helping students of all ages—kids, teens, and adults—achieve their learning goals. Whether in private lessons, small group sessions, or classrooms of 20+ students, I tailor my approach to create engaging and effective learning experiences.</p>
                <p class="mb-4">As a programmer, I bring a unique perspective to education, combining my expertise in web applications, AI, and automation to deliver innovative and practical lessons. My goal is to help students not only learn but also apply their skills to real-world challenges.</p>
                <p class="mb-4">Let’s work together to build your skills, achieve your goals, and unlock new opportunities!</p>
            </div>
        </section>
        <footer class="bg-deep text-white h-[48px] flex items-center justify-center">
            <p>&copy; All rights reserved Teacher Mark 2025</p>
        </footer>
    </main>
  </body>
</html>   