<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A brief description of your site.">
    <meta name="keywords" content="teaching, lessons, English, tutor, private, online, classes">
    <meta name="author" content="Mark O'Connor">
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <header class="bg-[#020517] text-white h-[48px] flex items-center">
        <div class="w-full max-w-[1000px] mx-auto px-4 sm:px-0">
            <span>Teacher Mark</span>
        </div>
    </header>
    <main>
        <section class="min-h-[50vh] bg-[#020517] grid place-content-center">
            <div class="max-w-[500px] mx-auto px-4 sm:px-0">
                <h1 class="text-5xl text-gray-100 mb-2 font-bold">Achieve confidence, comfort, and clarity in English.</h1>
                <p class="text-lg text-balance text-purple-100 mb-4">From cafe to boardroom, beginner to advanced, we have classes for your level and learning style.</p>
                <a href="#" class="inline-block text-lg bg-purple-800 text-white rounded-md px-4 py-1 hover:bg-purple-700 active:bg-purple-900 active:scale-95 duration-200 ease-in-out">Start your journey today</a>
            </div>
        </section>
    </main>
  </body>
</html>   