<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A brief description of your site.">
    <meta name="keywords" content="teaching, lessons, English, tutor, private, online, classes">
    <meta name="author" content="Mark O'Connor">
    <script src="https://unpkg.com/htmx.org@1.8.4"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        deep: '#020517',
                        deephover: '#0a1971'
                    },
                },
            },
        }
    </script>
    <style>
        .hide {
            opacity: 0;
            filter: blur(2);
            transform: translateY(10%);
            transition: all 1s;
        }

        .show {
            opacity: 1;
            filter: blur(0);
            transform: translateY(0);
        }

        @media(pefers-reduced-motion) {
            .hide {
                transition: none;
            }
        }
    </style>
  </head>
  <body>
    <header class="bg-deep text-white h-[48px] flex items-center">
        <div class="w-full max-w-[1000px] mx-auto px-4 sm:px-0">
            <span>Teacher Mark</span>
        </div>
    </header>
    <main>

        <section class="min-h-[75vh] bg-deep grid place-content-center">
            <div class="hide max-w-[500px] mx-auto px-4 sm:px-0">
                <h1 class="text-5xl text-gray-100 mb-2 font-bold">Achieve confidence, comfort, and clarity in English.</h1>
                <p class="text-lg text-balance text-purple-100 mb-4">From cafe to boardroom, beginner to advanced, we have classes for your level and learning style.</p>
                <a href="/" class="inline-block text-lg bg-purple-800 text-white rounded-md px-4 py-1 hover:bg-purple-700 active:bg-purple-900 active:scale-95 duration-200 ease-in-out">Start your journey today</a>
            </div>
        </section>

        <section class="min-h-[50vh] grid place-content-center py-32">
            <div class="hide max-w-[500px] md:max-w-[800px] mx-auto px-4 sm:px-0">
                <h2 class="font-bold text-deep text-4xl text-balance md:text-center mb-8">See our classes to boost your career and open the doors to new opportunities</h2>
                <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-16">
                    <div class="md:shadow py-4 md:px-2 rounded-xl">
                        <h3 class="md:text-center text-xl text-deep font-semibold">IELTS</h3>
                        <p>Study and work in English speaking countries. Surpass your target score with personalized lessons on speaking, writing, and test strategies.</p>
                    </div>
                    <div class="md:shadow py-4 md:px-2 rounded-xl">
                        <h3 class="md:text-center text-xl text-deep font-semibold">GEPT</h3>
                        <p>Elevate your education and career possibilities. Build confidence in your English and master practical communication to excel in the GEPT with ease.</p>
                    </div>
                    <div class="md:shadow py-4 md:px-2 rounded-xl">
                        <h3 class="md:text-center text-xl text-deep font-semibold">Business English</h3>
                        <p>Enhance your career by mastering professional communication. Connect fluently with clients and partners worldwide through lessons tailored for workplace success.</p>
                    </div>
                </div>
                <div class="flex justify-center">
                    <a href="/" class="inline-block bg-purple-800 px-8 py-2 text-white rounded-md hover:bg-purple-700 active:bg-purple-900 active:scale-95 duration-200 ease-in-out">
                        Start Your Career Journey Today
                    </a>
                </div>
            </div>
        </section>

        <section class="min-h-[50vh] bg-purple-200 grid place-content-center py-32">
            <div class="hide max-w-[500px] md:max-w-[800px] mx-auto px-4 sm:px-0">
                <h2 class="font-bold text-deep text-4xl text-balance md:text-center mb-8">Build your English skills and start having fun, fluent conversations in today.</h2>
                <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-16">
                    <div class="md:shadow py-4 md:px-2 md:rounded-xl md:bg-white">
                        <h3 class="md:text-center text-xl font-semibold">Conversation</h3>
                        <p>Enrich your life and grow your confidence in English. Learn the skills to have fast, natural conversations with English speakers.</p>
                    </div>
                    <div class="md:shadow py-4 md:px-2 md:rounded-xl md:bg-white">
                        <h3 class="md:text-center text-xl font-semibold">Intermediate</h3>
                        <p>Already know some English? Refine your grammar, expand your vocabulary, and take your speaking skills to the next level.</p>
                    </div>
                    <div class="md:shadow py-4 md:px-2 md:rounded-xl md:bg-white">
                        <h3 class="md:text-center text-xl font-semibold">Beginner</h3>
                        <p>New to English? Develop a strong foundation with fun, practical lessons to make school easier and talking to friends more enjoyable.</p>
                    </div>
                </div>
                <div class="flex justify-center">
                    <a href="/" class="inline-block bg-purple-800 px-8 py-2 text-white rounded-md hover:bg-purple-700 active:bg-purple-900 active:scale-95 duration-200 ease-in-out">
                        Explore Conversation Classes Now
                    </a>
                </div>
            </div>
        </section>

        <section class="min-h-[50vh] grid place-content-center py-32">
            <div class="hide max-w-[500px] md:max-w-[800px] mx-auto px-4 sm:px-0">
                <h2 class="font-bold text-deep text-4xl text-balance md:text-center mb-8">Learn coding skills in English and open the doors to exciting opportunities in tech.</h2>
                <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-16">
                    <div class="md:shadow py-4 md:px-2 rounded-xl">
                        <h3 class="md:text-center text-xl font-semibold">Fundamentals</h3>
                        <p>Lay the groundwork for your coding journey. Learn essential programming concepts, logic, and problem-solving with languages like Python, JavaScript, and Go.</p>
                    </div>
                    <div class="md:shadow py-4 md:px-2 rounded-xl">
                        <h3 class="md:text-center text-xl font-semibold">Web and App</h3>
                        <p>Design and build modern, responsive websites and apps. This class combines front-end and back-end development, equipping you to create dynamic, user-friendly digital experiences.</p>
                    </div>
                    <div class="md:shadow py-4 md:px-2 rounded-xl">
                        <h3 class="md:text-center text-xl font-semibold">AI and Automations</h3>
                        <p>Explore the cutting-edge world of artificial intelligence and process automation. Learn how to harness AI tools and create scripts to save time and solve real-world problems.</p>
                    </div>
                </div>
                <div class="flex justify-center">
                    <a href="/" class="inline-block bg-purple-800 px-8 py-2 text-white rounded-md hover:bg-purple-700 active:bg-purple-900 active:scale-95 duration-200 ease-in-out">
                        Kickstart Your Coding Journey Today
                    </a>
                </div>
            </div>
        </section>

        <section class="min-h-[50vh] grid place-content-center pb-32">
            <div class="hide max-w-[500px] mx-auto px-4 sm:px-0">
                <h2 class="font-bold text-deep text-4xl text-balance md:text-center mb-8">About me</h2>
                <p class="mb-4">With over 6 years of teaching experience, I’ve had the privilege of helping students of all ages—kids, teens, and adults—achieve their learning goals. Whether in private lessons, small group sessions, or classrooms of 20+ students, I tailor my approach to create engaging and effective learning experiences.</p>
                <p class="mb-4">As a programmer, I bring a unique perspective to education, combining my expertise in web applications, AI, and automation to deliver innovative and practical lessons. My goal is to help students not only learn but also apply their skills to real-world challenges.</p>
                <p class="mb-4">Let’s work together to build your skills, achieve your goals, and unlock new opportunities!</p>
            </div>
        </section>

        <section id="contact" class="bg-gradient-to-r from-purple-700/80 to-purple-800/80 text-white py-24 md:py-24">
            <div class="hide max-w-[500px] mx-auto bg-white text-black px-6 py-6 sm:rounded-2xl">
                <h2 class="text-2xl font-semibold text-purple-900 mb-2">Contact Me To Arrange Your First Class</h2>
                <p>Make sure to include your email so we can reply to you as quickly as possible.</p>
                <hr class="my-8"/>
                {{ template "form" . }}
            </div>
        </section>

        <section>
            {{/*<div class="py-16 mx-auto px-4 sm:px-0 bg-deep text-white shadow-[0px_-30px_0px_30px_#020517] sm:shadow-[0px_-50px_0px_50px_#020517]">*/}}
            <div class="py-16 mx-auto px-4 sm:px-0 bg-deep text-white">
                <div class="hide max-w-[700px] mx-auto">
                    <h2 class="text-4xl mb-8">The answers to some of your questions</h2>
                    <dl>
                        <dt class="hide text-xl mb-2">What levels of English do you teach?</dt>
                        <dd class="hidden max-w-[60ch]">I teach all levels, from beginners learning the basics to advanced students preparing for professional settings or exams like IELTS and GEPT.</dd>
                        <hr class="my-4"/>
                        <dt class="hide text-xl mb-2">Do you offer online or in-person classes?</dt>
                        <dd class="hidden max-w-[60ch]">Currently, I offer online classes, allowing students from anywhere to join. If you’re interested in in-person lessons, feel free to contact me to discuss availability.</dd>
                        <hr class="my-4"/>
                        <dt class="hide text-xl mb-2">How long is each class?</dt>
                        <dd class="hidden max-w-[60ch]">Each class typically lasts 60 minutes. Longer or shorter sessions can be arranged based on your preferences and goals.</dd>
                        <hr class="my-4"/>
                        <dt class="hide text-xl mb-2">What materials do you provide?</dt>
                        <dd class="hidden max-w-[60ch]">I provide tailored lesson materials, including practice exercises, resources, and progress assessments. For coding classes, I may recommend tools and software to support learning.</dd>
                        <hr class="my-4"/>
                        <dt class="hide text-xl mb-2">What’s included in IELTS and GEPT preparation?</dt>
                        <dd class="hidden max-w-[60ch]">For IELTS and GEPT, I provide personalized lessons that focus on test strategies, time management, and skill-building in speaking, reading, writing, and listening.</dd>
                        <hr class="my-4"/>
                        <dt class="hide text-xl mb-2">How long will it take to see improvement?</dt>
                        <dd class="hidden max-w-[60ch]">The timeline for improvement depends on your starting level and learning goals. Many students notice significant progress within a few weeks of consistent lessons.</dd>
                        <hr class="my-4"/>
                        <dt class="hide text-xl mb-2">Are conversation classes suitable for shy learners?</dt>
                        <dd class="hidden max-w-[60ch]">Yes! I create a relaxed and supportive environment to help build confidence and fluency at your own pace.</dd>
                        <hr class="my-4"/>
                        <dt class="hide text-xl mb-2">Can absolute beginners join?</dt>
                        <dd class="hidden max-w-[60ch]">Absolutely! My beginner classes are designed to help you develop a strong foundation and make learning enjoyable.</dd>
                        <hr class="my-4"/>
                        <dt class="hide text-xl mb-2">Do I need prior experience for coding classes?</dt>
                        <dd class="hidden max-w-[60ch]">Not at all! My programming fundamentals class is perfect for beginners, while advanced topics like full-stack applications are suited for those with some coding experience.</dd>
                        <hr class="my-4"/>
                        <dt class="hide text-xl mb-2">What tools or software will I need for coding classes?</dt>
                        <dd class="hidden max-w-[60ch]">A laptop with an internet connection is sufficient. I’ll guide you on setting up any additional tools or software as needed during the lessons.</dd>
                        <hr class="my-4"/>
                        <dt class="hide text-xl mb-2">How can I book a class?</dt>
                        <dd class="hidden max-w-[60ch]">You can contact me directly through the Contact Me section or use the booking form on the website to schedule your first lesson.</dd>
                        <hr class="my-4"/>
                        <dt class="hide text-xl mb-2">What payment methods do you accept?</dt>
                        <dd class="hidden max-w-[60ch]">I accept payments via bank transfer, PayPal, or credit card. Please reach out for more details.</dd>
                        <hr class="my-4"/>
                        <dt class="hide text-xl mb-2">Do you offer refunds or rescheduling?</dt>
                        <dd class="hidden max-w-[60ch]">I offer flexible scheduling, and classes can be rescheduled with at least 24 hours' notice. Refund policies depend on the package or booking type—please contact me for details.</dd>
                    </dl>
                </div>
            </div>
        </section>

        <footer class="bg-deep text-white h-[48px] flex items-center justify-center">
            <p>&copy; All rights reserved Teacher Mark 2025</p>
        </footer>
        <div id="alert" class="w-[300px] min-h-6 fixed top-2 left-2 bg-green-300 shadow-lg rounded-md px-4 py-2 duration-200 -translate-y-8 opacity-0">
        </div>
    </main>
    <script>
        let faqItems = document.querySelectorAll('dt');
        faqItems.forEach(item => {
            item.addEventListener('click', async () => {
            item.nextElementSibling.classList.toggle('hidden')
            })
        })

        const observer = new IntersectionObserver((entries) => {
            entries.forEach((entry) => {
                console.log(entry)
                if (entry.isIntersecting) {
                    entry.target.classList.add('show')
                } else {
                    entry.target.classList.remove('show')
                }
            })
        })

        const hiddenElements = document.querySelectorAll('.hide')
        hiddenElements.forEach((element) => {
            observer.observe(element)
        })

        document.addEventListener('formSuccess', (event) => {
            const alert = document.getElementById('alert')
            const message = event.detail?.message || 'Thank you for your message. We will get back to you soon.'
            
            alert.innerText = message
            alert.classList.remove('-translate-y-8', 'opacity-0')

            setTimeout(() => {
                alert.classList.add('-translate-y-8', 'opacity-0')
            }, 3000)
        })
    </script>
  </body>
</html>   