{{template "base" .}}
{{ define "content" }}
    {{ template "hero" . }}
    {{ template "test-prep" . }}
    {{ template "business-english" . }}        
    {{ template "about" . }}
    {{ template "contact" . }} 
    {{ template "faq" .}}
{{ end }}