{{ define "footer" }}
<footer class="bg-deep text-purple-50/90 h-[48px] flex items-center justify-center">
    <p>{{ if eq .Lang "en"}}&copy; All rights reserved Teacher Mark 2025{{ else }}&copy; 版權所有 Teacher Mark 2025{{ end }}</p>
</footer>
{{ end }}